<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.generator.testdb.ArticleMapper">
    <insert id="insert" >
        insert into article(author,content,create_time,title) values(#{author},#{content},#{createTime},#{title})
    </insert>
</mapper>